.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/local.properties

*.iml
.idea/

coverage/